.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.success{
  color: green;
  font-weight: 700;
}

.error{
  color: red;
  font-weight: 700;
}

.heading{
  font-size: 30px;
  font-weight: 700;
}

input{
  padding: 3px 0 3px 10px;
}

button{
  width: 40px;
  height: 40px;
  color: white;
  background-color: rgb(71, 71, 71);
  font-size: 30px;
}

.btn{
  display: flex;
  gap: 10px;
}

.calculator{
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 30px -30px 80px rgb(93, 93, 255), -30px 30px 80px rgb(255, 89, 191);
  
}

.result{
  font-weight: 700;
}